<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redes Forecast</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>HELLO WORLD!</h1>
    <p>{{time}}</p>
    <div class="forecast-data">
        <div>
            <p>{{temp}}</p>
        </div>
        <div>
            <p>{{hum}}</p>
        </div>
    </div>
</body>
</html>