<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redes Forecast</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>REDES FORECAST</h1>
    <p>{{time}}</p>
    <div class="forecast-data">
        <div>
            <section class="thermometer">
             <div class="logo">
                <div class="bar">
                    <div class="bar-fill"></div>
                </div>
                <div class="circle">
                    <div class="circle-fill"></div>
                </div>
             </div>   
            </section>
            <p class="temp-value">{{temp}}</p>
        </div>
        <div>
            <p class="hum-value">{{hum}}</p>
        </div>
    </div>
    <script src="/js/forecast.js"></script>
</body>
</html>